@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
}

.note {
    width: 200px;
    height: 200px;
    background-color: orange;
    color: black;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.done {
    background-color: rgb(159, 255, 33);
}
/* .note button {
    color: red;
} */

textarea {
    color: black;
}

#grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
